/*Variables*/
:root {   
  
 /* Main colours */
    --primary-color:  rgb(14, 24, 24); 
    --secondary-color:  rgb(111, 109, 105); 
    --highlight-color:   rgb(234, 31, 73); 
  
 /* Text colours */  

    --primary-color--text : rgb(0, 0, 0); 
    --secondary-color--text:  rgb(234, 31, 73);
    
    }

/* Global element selector */
/* RESETS */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  





/* Navigation styles */
 header{
    display: flex;
    background-color: var(--primary-color);
    padding: 20px;
    justify-content: space-between;
    }

header h1
{
font-size: 30px;
color: var(--highlight-color);

}

header nav a {
color: #fff;
text-decoration: none;
}

/*header nav a: hover {
  text-decoration: underline;
  color: var(--highlight-color);
  }
*/

#navigation-links{    
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

/* Me Section Styles */

#me {
display: flex;
padding: 200px;
justify-content:space-around;

}


.sub-heading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}


/* Typography CSS */

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

