/*Variables*/
:root {   
  
 /* Main colours */
    --primary-color:  rgb(14, 24, 24); 
    --secondary-color:  rgb(111, 109, 105); 
    --highlight-color:   rgb(234, 31, 73); 
  
 /* Text colours */  

    --primary-color--text : rgb(0, 0, 0); 
    --secondary-color--text:  rgb(234, 31, 73);
    
    }

/* Global element selector */
/* RESETS */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
 
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  

/* Typography CSS */



.icon  {    
  width: 8%;
  height: auto;
  margin: 0px 20px;
  cursor: pointer;
 
}

/* Navigation and sub-heading CSS */
 header{
    display: flex;
    background-color: var(--primary-color);
    padding: 20px;
    justify-content: space-between;
    }

header h1
{
font-size: 32px;
color: var(--highlight-color);
font-weight: normal;

}

header nav a {
color: #fff;
text-decoration: none;
font-size: 20px;
font-weight: normal;
}


#navigation-links{    
  
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;

}

#navigation-links a:hover {

  color: var(--highlight-color);
  text-decoration: underline;



}

.sub-heading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
  font-size: 32px;
  font-weight: normal;
}




/* Me Section CSS */
#me {
display: flex;
min-height: 500px;
margin-top: 3%;
justify-content: center;
border: 2px solid black ;
align-items: center;
}

#me figure img {
  width: 90%;
  height: auto;

}

#me aside {
  text-align: center;

}

#me aside h2, h3, h4{
  font-weight: normal;
}


#me aside h2{
font-size: 35px;
padding-bottom: 20px;

}

#me aside h3{
  font-size: 20px;
  color: var(--secondary-color);
  padding-bottom: 20px;
  
}

#me aside h4 a{

  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}

#me aside h4 a:hover {

  color: var(--highlight-color);
  text-decoration: underline;
  font-weight: bolder;


}



/* About Section CSS */

#about p {
  text-align: center;
  width: 80%;
  margin: 50px auto;


}


/* Work Section CSS */


#work {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 400px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "work-1 work-1 work-1"
    "work-3 work-4 work-2"
    "work-5 work-5 work-2"
  ;
}

#work-1 {
  grid-area: work-1;
  background-image: url("https://api.lorem.space/image/house");

}
#work-2 {
  grid-area: work-2;
  background-image: url("https://api.lorem.space/image/fashion");

}
#work-3 {
  grid-area: work-3;
  background-image: url("https://api.lorem.space/image/watch");

}
#work-4 {
  grid-area: work-4;
  background-image: url("https://api.lorem.space/image/drink");

}
#work-5 {
  grid-area: work-5;
  background-image: url("https://api.lorem.space/image/album");

}

.work-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  filter: grayscale(100%);
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  color: var(--highlight-color);
  font-size: 20px;
  border-bottom: 5px solid ;
  filter:none;
 
}






/* Contact Section CSS */

#navigation-contact{    
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items:flex-start;
  margin: 40px auto;
  font-weight: normal;


}



#navigation-contact a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color );
  
  
}

#navigation-contact h3{

  font-size: 20px;
  color: var(--highlight-color);
  font-weight: normal;

}